.card_title {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 3em;
	color: white;
	margin-top: 2em;
	margin-left: 100px;
	padding-right:100px;
}
.card_location{
	color: white;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	margin-left: 100px;
	padding-right:100px;
}
.story_paragraph{
	color: white;
	font-family: 'Lora', Georgia, serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 100px;
	padding-right:100px;
	width: 60%;
}